body {
    background-color:cadetblue;
}

table {
    margin-top: 25px;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .delete-task-button {
    float: right;
  }

  .task-inputs {
    width: 150px;
  }

  .form-control {
    margin:1;
  }

  .form-floating {
    margin: 0px;
  }

  .form-select {
    width: 100px;
  }